doctype xml
html(xmlns = 'http://www.w3.org/1999/xhtml')
  head
    meta(charset = 'utf-8')
    link(rel = 'stylesheet' href = './style.css')
    title.title Hệ tiên đề Armstrong
  body: div.main.vertical
    div.top-panel.horizonal
      div.output-panel
        div.title
          h3 Bảng dữ liệu
        div.universe
          span.title Tập hợp U
          div: span.empty &lt;trống&gt;
          div: span.content
        div.relationship.long-list
          span.title Tập hợp F
          div: span.empty &lt;trống&gt;
          div.content.long-list
        div.closure.long-list
          span.title Tập Bao đóng X<sup>+</sup>
          div: span.empty &lt;trống&gt;
      div.input-panel
        div.title
          h3 Bảng nhập
        div.universe
          input(type = 'text')
          button.add Thêm vào Tập hợp U
          button.delete Xóa khỏi Tập hợp U
        div.relationship
          input.from(type = 'text')
          span.arrow →
          input.to(type = 'text')
          button.add Thêm vào Tập hợp F
          button.delete Xóa khỏi Tập hợp F
    div.bottom-panel
      div.control-panel.vertical
        div.title
          h3 Bảng điều khiển
        div.closure: button
          | Tính tập bao đóng X<sup>+</sup>
    script(type = 'text/javascript').
      require('./script.js')
