
html, body, .main {
  font-family: 'Segoe UI', 'Ubuntu', 'Vernada', sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

.main > div {
  position: fixed;
}

.vertical {
  display: block;
}

.horizonal {
  display: flex;
}

.equidistant {
  justify-content: space-around;
}

span.title {
  color: #00abcd;
}

.top-panel {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
}

.top-panel > div {
  width: 50%;
}

.top-panel input:not(.long-text) {
  width: 10em;
}

.top-panel > div > div:not(.title):not(.long-list) {
  height: 64px;
  overflow: auto;
}

.bottom-panel {
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 20%;
}

.top-panel, .top-panel * {
  text-align: left;
}

.bottom-panel, .bottom-panel * {
  text-align: center;
  align-content: center;
  align-self: center;
  align-items: center;
}

.empty {
  color: #00ff00;
  font-style: italic;
  font-weight: lighter;
}

[hidden], .hidden {
  display: none !important;
}
